[submodule "VScode projects/new_project/lib/forge-std"]
	path = VScode projects/new_project/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "VScode projects/fundme/lib/forge-std"]
	path = VScode projects/fundme/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
