[submodule "VScode projects/new_project/lib/forge-std"]
	path = VScode projects/new_project/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "VScode projects/fundme/lib/forge-std"]
	path = VScode projects/fundme/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/chainlink-brownie-contracts"]
	path = lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "VScode projects/fundme/lib/chainlink-brownie-contracts"]
	path = VScode projects/fundme/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "VScode projects/fundme/lib/foundry-devops"]
	path = VScode projects/fundme/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "VScode projects/foundryLottery/lib/forge-std"]
	path = VScode projects/foundryLottery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "VScode projects/foundryLottery/lib/chainlink-brownie-contracts"]
	path = VScode projects/foundryLottery/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "VScode projects/foundryLottery/lib/solmate"]
	path = VScode projects/foundryLottery/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "VScode projects/foundryLottery/lib/foundry-devops"]
	path = VScode projects/foundryLottery/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
